.LoginBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}