.RegisterBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RegisterBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}